body{
  background-color: rgba(100,200, 050,0.2);
  text-align: center;

}
h1.sales-h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: whitesmoke;
}
table {
  border: 1px solid black;
}
legend{
  font-family: 'Times New Roman', Times, serif;
  
}
header{
  text-align: center;
}
footer{  
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color:lightseagreen;
color: white;
text-align: center;
}