header{
  background-color: rgb(236, 178, 178);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  
}
#pat-heading{
  text-align: center;
}
#fish-2{
  float: right;
}



.family{
  background-image: url(img/.family.png);
}
footer{
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgoldenrodyellow;
  color: white;
  text-align: center;
} 
ul{
  display: inline inline-block;
}