#pat-heading{
  text-align: center;
}
#fish-2{
  float: right;
}




body{
  background-color: lightyellow;

}
footer{
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgoldenrodyellow;
  color: white;
  text-align: center;
} 
ul{
  display: inline inline-block;
}